#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
#container .week {
  border-right: 1px solid #dcdcdc;
}
.time-container {
  display: grid;
  grid-template-rows: repeat(24, 80px);
}
.time-container div {
  border-top: 1px solid #dcdcdc;
}
.week > div {
  text-align: center;
}
.time span {
  line-height: 80px;
}