#app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#app .week {
  border-right: 1px solid #dcdcdc;
}

.time-container {
  display: grid;
  grid-template-rows: repeat(24, 80px);
}

.time-container div {
  border-top: 1px solid #dcdcdc;
}

.week > div {
  text-align: center;
}

.time span {
  line-height: 80px;
}

.my-event {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 2px;
  background-color: #1867c0;
  color: #ffffff;
  border: 1px solid #1867c0;
  font-size: 12px;
  padding: 3px;
  cursor: pointer;
  margin-bottom: 1px;
  left: 4px;
  margin-right: 8px;
  position: relative;
}

.my-event.with-time {
  position: absolute;
  right: 4px;
  margin-right: 0px;
}